
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: roboto;
}
nav{
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 5px solid orangered;
}
.logo{
    color: white;
    font-size: 2rem;
}
span{
    color: orangered;
}
.links a{
    margin-left: 40px; 
    text-decoration: none;
    color: white;
}
.links a:hover{
    color: orangered;
    
}
main{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    flex-direction: column;
    background-image: url(./pexels-math-331684.jpg);
    background-size: cover;
    

}

main h1{
    font-size: 60px;
    color: orangered;
    margin-bottom: 20px;
}
main p{
    font-size: 1.3rem;
    color:grey;
    padding-left: 60px;
    padding-right: 60px;
}
section{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */
    background-color: grey;
    padding-left: 60px;
    padding-right: 60px;
}
section p{
    font-family: roboto;
    text-decoration: bold;
    color: white;
    font-size: 20px;
}
section input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
section button{
    padding: 10px;
    border-radius: 5px;
    border: none;
     background-color: orangered;
     color: white;
}

aside{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}
aside img{
    width: 100px;
    width: 100px;
}

.card{
    height: 300px;
    width: 250px;
    /* border: 2px solid black; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
aside h3{
    margin: 20px;
    text-align: center;

}
aside p{
    text-align: center;
    font-size: 12px;
    font-weight: light;
}

footer{
    width: auto;
    height: 70px;
    color: white;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-right: 80px;
    margin-left: 80px; 
   
}
.about{
   
    height: 80%;
    width: 100%;
    
    }
    
    .about-us{
        margin-bottom: 20px;
    }

.h{
    margin-right: 30px;
    padding: 20px;
    margin-bottom: 20px;
}





.wwd{
    
   margin-top: 30px;
    height: 80%;
    width: 40%;
    padding: 20px;
    background-color: black;
    color: white;
    
}




#box{
    background-color: black;
    color: white;
    align-items: center;
}

.service-fee{
    background-color: lightgray;
    width: 95%;
    padding: 20px;
    border: rgba(0, 0, 0, 0.2 );
    margin: 10px;
}

.form-card{
    background-color: grey;
    color: white;
    height: 300px;
    width: 600px;
    padding: 20px;
    margin-top: 30px;
    
}
.input-area{
    height: 30px;
    width: 100%;

}
.textbox{
   height: 50px;
   width: 100%;

}
.servtext{
    margin-top: 30px;
}
.formarea{
    margin-top: 20px;
}
.send-btn{
    padding: 10px;
    margin-top: 5px;
    background-color: orangered;
    border: none;
    color: white;
    font-weight:400;
}